.currencyBlock {
    background-color: #33334b;
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 30px;
}

.currencyBlockBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currencyBlockInput {
    background: transparent;
    font-size: 40px;
    color: #fff;
    border: none;
    outline: none;
    font-weight: bold;
    width: 100%;
    flex: 1;
}

.currencyBlockInfo {
    display: flex;
    align-items: center;

    h5 {
        font-size: 33px;
        margin-right: 13px;
    }
    img {
        width: 45px;
        height: 45px;
    }
}
